@model JoesPetStore.Models.PetDetailsViewModel

@{
    ViewBag.Title = "Approve";
}

<h2>Approve</h2>
You Have Been Approved For this purchase!

@Html.ActionLink("Cancel", "Details", "Pet")
@Html.ActionLink("Purchase", "PurchasePage", "Pet")

