@model JoesPetStore.ViewModels.PetDetailsViewModel

@{
    ViewBag.Title = "Approve";
}

<h2>Approve</h2>
You Have Been Approved

@Html.ActionLink("Cancel", "Index", "Home")
@Html.ActionLink("Payment", "PurchasePage", "Pet")