@model JoesPetStore.Models.PetDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Pet Details</h2>
Name: @Model.Name
@Html.ActionLink("Back", "Index", "Home")
@Html.ActionLink("Offer", "Offer", "Pet")