@model JoesPetStore.ViewModels.PetDetailsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>Purchase</h2>
<p>
    Purchase Details Here
</p>
@Html.ActionLink("Cancel", "Details", "Pet")

@using (Html.BeginForm("Purchase","Pet"))
{
    <input type="hidden" id="petid" name="petid" />
    <input type="submit" value="Submit" />
}