@model JoesPetStore.ViewModels.PetDetailsViewModel

@{
    ViewBag.Title = "title";
}

<h2>Request</h2>
Name: @Model.Name

<p>Are you Sure this Is the Pet you want?<p>
<br>
@Html.ActionLink("Cancel", "Details", "Pet")
<br>
@Html.ActionLink("Get Approved", "Approve", "Pet")